training/router.xml
<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<template encoding-version="1.3">
    <description></description>
    <groupId>201405e3-018c-1000-0b78-53a5b1ece059</groupId>
    <name>Router</name>
    <snippet>
        <connections>
            <id>0cb5e362-487c-3218-0000-000000000000</id>
            <parentGroupId>4935c20b-35ff-3084-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>4935c20b-35ff-3084-0000-000000000000</groupId>
                <id>8334382b-d994-319a-0000-000000000000</id>
                <type>FUNNEL</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>unmatched</selectedRelationships>
            <source>
                <groupId>4935c20b-35ff-3084-0000-000000000000</groupId>
                <id>3029b316-fb52-3460-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>107ee3bc-22c2-38c0-0000-000000000000</id>
            <parentGroupId>4935c20b-35ff-3084-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>4935c20b-35ff-3084-0000-000000000000</groupId>
                <id>439bd857-16da-3134-0000-000000000000</id>
                <type>FUNNEL</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>4935c20b-35ff-3084-0000-000000000000</groupId>
                <id>b25437d8-af6e-3ae2-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>1acf39bb-ed09-32e7-0000-000000000000</id>
            <parentGroupId>4935c20b-35ff-3084-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>4935c20b-35ff-3084-0000-000000000000</groupId>
                <id>5666a685-1df3-304c-0000-000000000000</id>
                <type>FUNNEL</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>user</selectedRelationships>
            <source>
                <groupId>4935c20b-35ff-3084-0000-000000000000</groupId>
                <id>3029b316-fb52-3460-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>4bb2f598-0691-363b-0000-000000000000</id>
            <parentGroupId>4935c20b-35ff-3084-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>4935c20b-35ff-3084-0000-000000000000</groupId>
                <id>f6c77335-815b-3f86-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>4935c20b-35ff-3084-0000-000000000000</groupId>
                <id>fbf19168-2597-3e75-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>8cdb2be7-0374-3f5f-0000-000000000000</id>
            <parentGroupId>4935c20b-35ff-3084-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>4935c20b-35ff-3084-0000-000000000000</groupId>
                <id>3029b316-fb52-3460-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>4935c20b-35ff-3084-0000-000000000000</groupId>
                <id>f6c77335-815b-3f86-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>bf469d69-9d34-3ccb-0000-000000000000</id>
            <parentGroupId>4935c20b-35ff-3084-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>4935c20b-35ff-3084-0000-000000000000</groupId>
                <id>439bd857-16da-3134-0000-000000000000</id>
                <type>FUNNEL</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>4935c20b-35ff-3084-0000-000000000000</groupId>
                <id>e0e91140-94fb-3e8f-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>ce0cff46-ba51-3e2e-0000-000000000000</id>
            <parentGroupId>4935c20b-35ff-3084-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>4935c20b-35ff-3084-0000-000000000000</groupId>
                <id>fbf19168-2597-3e75-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <source>
                <groupId>4935c20b-35ff-3084-0000-000000000000</groupId>
                <id>439bd857-16da-3134-0000-000000000000</id>
                <type>FUNNEL</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <controllerServices>
            <id>768ab5d9-429d-3cdb-0000-000000000000</id>
            <parentGroupId>4935c20b-35ff-3084-0000-000000000000</parentGroupId>
            <bulletinLevel>WARN</bulletinLevel>
            <bundle>
                <artifact>nifi-record-serialization-services-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.17.0</version>
            </bundle>
            <comments></comments>
            <descriptors>
                <entry>
                    <key>Schema Write Strategy</key>
                    <value>
                        <name>Schema Write Strategy</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-cache</key>
                    <value>
                        <identifiesControllerService>org.apache.nifi.serialization.RecordSchemaCacheService</identifiesControllerService>
                        <name>schema-cache</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-protocol-version</key>
                    <value>
                        <dependencies>
                            <dependentValues>hwx-schema-ref-attributes</dependentValues>
                            <dependentValues>hwx-content-encoded-schema</dependentValues>
                            <propertyName>Schema Write Strategy</propertyName>
                        </dependencies>
                        <name>schema-protocol-version</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-access-strategy</key>
                    <value>
                        <name>schema-access-strategy</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-registry</key>
                    <value>
                        <dependencies>
                            <dependentValues>confluent-encoded</dependentValues>
                            <dependentValues>schema-name</dependentValues>
                            <dependentValues>hwx-schema-ref-attributes</dependentValues>
                            <dependentValues>hwx-content-encoded-schema</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <identifiesControllerService>org.apache.nifi.schemaregistry.services.SchemaRegistry</identifiesControllerService>
                        <name>schema-registry</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-name</key>
                    <value>
                        <dependencies>
                            <dependentValues>schema-name</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <name>schema-name</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-version</key>
                    <value>
                        <dependencies>
                            <dependentValues>schema-name</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <name>schema-version</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-branch</key>
                    <value>
                        <dependencies>
                            <dependentValues>schema-name</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <name>schema-branch</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-text</key>
                    <value>
                        <dependencies>
                            <dependentValues>schema-text-property</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <name>schema-text</name>
                    </value>
                </entry>
                <entry>
                    <key>compression-format</key>
                    <value>
                        <name>compression-format</name>
                    </value>
                </entry>
                <entry>
                    <key>cache-size</key>
                    <value>
                        <name>cache-size</name>
                    </value>
                </entry>
                <entry>
                    <key>encoder-pool-size</key>
                    <value>
                        <name>encoder-pool-size</name>
                    </value>
                </entry>
            </descriptors>
            <name>AvroRecordSetWriter</name>
            <persistsState>false</persistsState>
            <properties>
                <entry>
                    <key>Schema Write Strategy</key>
                    <value>avro-embedded</value>
                </entry>
                <entry>
                    <key>schema-cache</key>
                </entry>
                <entry>
                    <key>schema-protocol-version</key>
                    <value>1</value>
                </entry>
                <entry>
                    <key>schema-access-strategy</key>
                    <value>schema-text-property</value>
                </entry>
                <entry>
                    <key>schema-registry</key>
                </entry>
                <entry>
                    <key>schema-name</key>
                    <value>${schema.name}</value>
                </entry>
                <entry>
                    <key>schema-version</key>
                </entry>
                <entry>
                    <key>schema-branch</key>
                </entry>
                <entry>
                    <key>schema-text</key>
                    <value>{
 "namespace": "nifi",
 "name": "person",
 "type": "record",
 "fields": [
  { "name": "id",  "type": ["null","string"] },
  { "name": "rename_id",  "type": ["null","string"] },
  { "name": "estado", "type": ["null","string"] },
  { "name": "rename_estado", "type": ["null","string"] },
  { "name": "unique_id", "type": ["null","string"] },
  { "name": "ts_milli", "type" : {
      "type" : "long",
         "logicalType" : "timestamp-millis"
          }
  },
  { "name": "date", "type": ["null","string"] },
  { "name": "ts", "type": ["null","string"] },
  { "name": "ts_tz", "type": ["null","string"] },
  { "name": "current_ts", "type": ["null","string"] },
  { "name": "gmt_time", "type": ["null","string"] },
  { "name": "updated_by", "type": ["null","string"] }
   ]
}
</value>
                </entry>
                <entry>
                    <key>compression-format</key>
                    <value>NONE</value>
                </entry>
                <entry>
                    <key>cache-size</key>
                    <value>1000</value>
                </entry>
                <entry>
                    <key>encoder-pool-size</key>
                    <value>32</value>
                </entry>
            </properties>
            <state>ENABLED</state>
            <type>org.apache.nifi.avro.AvroRecordSetWriter</type>
        </controllerServices>
        <controllerServices>
            <id>7a57eef4-f9fa-32ea-0000-000000000000</id>
            <parentGroupId>4935c20b-35ff-3084-0000-000000000000</parentGroupId>
            <bulletinLevel>WARN</bulletinLevel>
            <bundle>
                <artifact>nifi-record-serialization-services-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.17.0</version>
            </bundle>
            <comments></comments>
            <descriptors>
                <entry>
                    <key>schema-access-strategy</key>
                    <value>
                        <name>schema-access-strategy</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-registry</key>
                    <value>
                        <dependencies>
                            <dependentValues>confluent-encoded</dependentValues>
                            <dependentValues>schema-name</dependentValues>
                            <dependentValues>hwx-schema-ref-attributes</dependentValues>
                            <dependentValues>hwx-content-encoded-schema</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <identifiesControllerService>org.apache.nifi.schemaregistry.services.SchemaRegistry</identifiesControllerService>
                        <name>schema-registry</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-name</key>
                    <value>
                        <dependencies>
                            <dependentValues>schema-name</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <name>schema-name</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-version</key>
                    <value>
                        <dependencies>
                            <dependentValues>schema-name</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <name>schema-version</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-branch</key>
                    <value>
                        <dependencies>
                            <dependentValues>schema-name</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <name>schema-branch</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-text</key>
                    <value>
                        <dependencies>
                            <dependentValues>schema-text-property</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <name>schema-text</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-inference-cache</key>
                    <value>
                        <dependencies>
                            <dependentValues>infer-schema</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <identifiesControllerService>org.apache.nifi.serialization.RecordSchemaCacheService</identifiesControllerService>
                        <name>schema-inference-cache</name>
                    </value>
                </entry>
                <entry>
                    <key>starting-field-strategy</key>
                    <value>
                        <name>starting-field-strategy</name>
                    </value>
                </entry>
                <entry>
                    <key>starting-field-name</key>
                    <value>
                        <dependencies>
                            <dependentValues>NESTED_FIELD</dependentValues>
                            <propertyName>starting-field-strategy</propertyName>
                        </dependencies>
                        <name>starting-field-name</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-application-strategy</key>
                    <value>
                        <dependencies>
                            <dependentValues>confluent-encoded</dependentValues>
                            <dependentValues>schema-name</dependentValues>
                            <dependentValues>schema-text-property</dependentValues>
                            <dependentValues>hwx-schema-ref-attributes</dependentValues>
                            <dependentValues>hwx-content-encoded-schema</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <dependencies>
                            <dependentValues>NESTED_FIELD</dependentValues>
                            <propertyName>starting-field-strategy</propertyName>
                        </dependencies>
                        <name>schema-application-strategy</name>
                    </value>
                </entry>
                <entry>
                    <key>Date Format</key>
                    <value>
                        <name>Date Format</name>
                    </value>
                </entry>
                <entry>
                    <key>Time Format</key>
                    <value>
                        <name>Time Format</name>
                    </value>
                </entry>
                <entry>
                    <key>Timestamp Format</key>
                    <value>
                        <name>Timestamp Format</name>
                    </value>
                </entry>
            </descriptors>
            <name>JsonTreeReader</name>
            <persistsState>false</persistsState>
            <properties>
                <entry>
                    <key>schema-access-strategy</key>
                    <value>schema-name</value>
                </entry>
                <entry>
                    <key>schema-registry</key>
                    <value>df3e5e8f-828b-3f05-0000-000000000000</value>
                </entry>
                <entry>
                    <key>schema-name</key>
                    <value>${schema.name}</value>
                </entry>
                <entry>
                    <key>schema-version</key>
                </entry>
                <entry>
                    <key>schema-branch</key>
                </entry>
                <entry>
                    <key>schema-text</key>
                    <value>${avro.schema}</value>
                </entry>
                <entry>
                    <key>schema-inference-cache</key>
                </entry>
                <entry>
                    <key>starting-field-strategy</key>
                    <value>ROOT_NODE</value>
                </entry>
                <entry>
                    <key>starting-field-name</key>
                </entry>
                <entry>
                    <key>schema-application-strategy</key>
                    <value>SELECTED_PART</value>
                </entry>
                <entry>
                    <key>Date Format</key>
                </entry>
                <entry>
                    <key>Time Format</key>
                </entry>
                <entry>
                    <key>Timestamp Format</key>
                </entry>
            </properties>
            <state>ENABLED</state>
            <type>org.apache.nifi.json.JsonTreeReader</type>
        </controllerServices>
        <controllerServices>
            <id>84092863-d67f-3ca8-0000-000000000000</id>
            <parentGroupId>4935c20b-35ff-3084-0000-000000000000</parentGroupId>
            <bulletinLevel>WARN</bulletinLevel>
            <bundle>
                <artifact>nifi-record-serialization-services-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.17.0</version>
            </bundle>
            <descriptors>
                <entry>
                    <key>schema-access-strategy</key>
                    <value>
                        <name>schema-access-strategy</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-registry</key>
                    <value>
                        <dependencies>
                            <dependentValues>confluent-encoded</dependentValues>
                            <dependentValues>schema-name</dependentValues>
                            <dependentValues>hwx-schema-ref-attributes</dependentValues>
                            <dependentValues>hwx-content-encoded-schema</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <identifiesControllerService>org.apache.nifi.schemaregistry.services.SchemaRegistry</identifiesControllerService>
                        <name>schema-registry</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-name</key>
                    <value>
                        <dependencies>
                            <dependentValues>schema-name</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <name>schema-name</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-version</key>
                    <value>
                        <dependencies>
                            <dependentValues>schema-name</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <name>schema-version</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-branch</key>
                    <value>
                        <dependencies>
                            <dependentValues>schema-name</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <name>schema-branch</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-text</key>
                    <value>
                        <dependencies>
                            <dependentValues>schema-text-property</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <name>schema-text</name>
                    </value>
                </entry>
                <entry>
                    <key>cache-size</key>
                    <value>
                        <name>cache-size</name>
                    </value>
                </entry>
            </descriptors>
            <name>AvroReader</name>
            <persistsState>false</persistsState>
            <properties>
                <entry>
                    <key>schema-access-strategy</key>
                    <value>embedded-avro-schema</value>
                </entry>
                <entry>
                    <key>schema-registry</key>
                </entry>
                <entry>
                    <key>schema-name</key>
                    <value>${schema.name}</value>
                </entry>
                <entry>
                    <key>schema-version</key>
                </entry>
                <entry>
                    <key>schema-branch</key>
                </entry>
                <entry>
                    <key>schema-text</key>
                    <value>${avro.schema}</value>
                </entry>
                <entry>
                    <key>cache-size</key>
                    <value>1000</value>
                </entry>
            </properties>
            <state>ENABLED</state>
            <type>org.apache.nifi.avro.AvroReader</type>
        </controllerServices>
        <controllerServices>
            <id>df3e5e8f-828b-3f05-0000-000000000000</id>
            <parentGroupId>4935c20b-35ff-3084-0000-000000000000</parentGroupId>
            <bulletinLevel>WARN</bulletinLevel>
            <bundle>
                <artifact>nifi-registry-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.17.0</version>
            </bundle>
            <comments></comments>
            <descriptors>
                <entry>
                    <key>avro-reg-validated-field-names</key>
                    <value>
                        <name>avro-reg-validated-field-names</name>
                    </value>
                </entry>
                <entry>
                    <key>sch</key>
                    <value>
                        <name>sch</name>
                    </value>
                </entry>
            </descriptors>
            <name>AvroSchemaRegistry</name>
            <persistsState>false</persistsState>
            <properties>
                <entry>
                    <key>avro-reg-validated-field-names</key>
                    <value>true</value>
                </entry>
                <entry>
                    <key>sch</key>
                    <value>{
"namespace": "nifi",
"name": "person",
"type": "record",
"fields": [
{ "name": "id", "type": ["null","int"] },
{ "name": "nome", "type": ["null","string"] },
{ "name": "idade", "type": ["null","int"] },
{ "name": "estado", "type": ["null","string"] },
{ "name": "ts_milli", "type" : ["null","long"] },
{ "name": "ts", "type": ["null","string"] }
]
}</value>
                </entry>
            </properties>
            <state>ENABLED</state>
            <type>org.apache.nifi.schemaregistry.services.AvroSchemaRegistry</type>
        </controllerServices>
        <funnels>
            <id>439bd857-16da-3134-0000-000000000000</id>
            <parentGroupId>4935c20b-35ff-3084-0000-000000000000</parentGroupId>
            <position>
                <x>680.0</x>
                <y>224.0</y>
            </position>
        </funnels>
        <funnels>
            <id>5666a685-1df3-304c-0000-000000000000</id>
            <parentGroupId>4935c20b-35ff-3084-0000-000000000000</parentGroupId>
            <position>
                <x>1560.0</x>
                <y>304.0</y>
            </position>
        </funnels>
        <funnels>
            <id>8334382b-d994-319a-0000-000000000000</id>
            <parentGroupId>4935c20b-35ff-3084-0000-000000000000</parentGroupId>
            <position>
                <x>1536.0</x>
                <y>608.0</y>
            </position>
        </funnels>
        <funnels>
            <id>d68e72ab-183f-3c18-0000-000000000000</id>
            <parentGroupId>4935c20b-35ff-3084-0000-000000000000</parentGroupId>
            <position>
                <x>1568.0</x>
                <y>432.0</y>
            </position>
        </funnels>
        <processors>
            <id>3029b316-fb52-3460-0000-000000000000</id>
            <parentGroupId>4935c20b-35ff-3084-0000-000000000000</parentGroupId>
            <position>
                <x>840.0</x>
                <y>416.0</y>
            </position>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.17.0</version>
            </bundle>
            <config>
                <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Routing Strategy</key>
                        <value>
                            <name>Routing Strategy</name>
                        </value>
                    </entry>
                    <entry>
                        <key>user</key>
                        <value>
                            <name>user</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Routing Strategy</key>
                        <value>Route to Property name</value>
                    </entry>
                    <entry>
                        <key>user</key>
                        <value>${user:equals("NIFI")}</value>
                    </entry>
                </properties>
                <retryCount>10</retryCount>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>RouteOnAttribute</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>unmatched</name>
                <retry>false</retry>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>user</name>
                <retry>false</retry>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.standard.RouteOnAttribute</type>
        </processors>
        <processors>
            <id>b25437d8-af6e-3ae2-0000-000000000000</id>
            <parentGroupId>4935c20b-35ff-3084-0000-000000000000</parentGroupId>
            <position>
                <x>0.0</x>
                <y>16.0</y>
            </position>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.17.0</version>
            </bundle>
            <config>
                <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>File Size</key>
                        <value>
                            <name>File Size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Batch Size</key>
                        <value>
                            <name>Batch Size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Data Format</key>
                        <value>
                            <name>Data Format</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Unique FlowFiles</key>
                        <value>
                            <name>Unique FlowFiles</name>
                        </value>
                    </entry>
                    <entry>
                        <key>generate-ff-custom-text</key>
                        <value>
                            <name>generate-ff-custom-text</name>
                        </value>
                    </entry>
                    <entry>
                        <key>character-set</key>
                        <value>
                            <name>character-set</name>
                        </value>
                    </entry>
                    <entry>
                        <key>mime-type</key>
                        <value>
                            <name>mime-type</name>
                        </value>
                    </entry>
                    <entry>
                        <key>schema.name</key>
                        <value>
                            <name>schema.name</name>
                        </value>
                    </entry>
                    <entry>
                        <key>user</key>
                        <value>
                            <name>user</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>File Size</key>
                        <value>0B</value>
                    </entry>
                    <entry>
                        <key>Batch Size</key>
                        <value>1</value>
                    </entry>
                    <entry>
                        <key>Data Format</key>
                        <value>Text</value>
                    </entry>
                    <entry>
                        <key>Unique FlowFiles</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>generate-ff-custom-text</key>
                        <value>[ {
"id" : 1,
"nome" : "Marcio",
"idade" : 20,
"estado" : "PARANA",
"ts_milli" : 1525526792098,
"ts" : "2018-05-03 10:10:10.123"
}, {
"id" : 2,
"nome" : "Gisele",
"idade" : 30,
"estado" : "SANTA CATARINA",
"ts_milli" : 1505596792832,
"ts" : "2017-04-02 12:19:49.484"
} ]</value>
                    </entry>
                    <entry>
                        <key>character-set</key>
                        <value>UTF-8</value>
                    </entry>
                    <entry>
                        <key>mime-type</key>
                    </entry>
                    <entry>
                        <key>schema.name</key>
                        <value>sch</value>
                    </entry>
                    <entry>
                        <key>user</key>
                        <value>NIFI</value>
                    </entry>
                </properties>
                <retryCount>10</retryCount>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>10 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>GenerateFlowFile</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
                <retry>false</retry>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.standard.GenerateFlowFile</type>
        </processors>
        <processors>
            <id>e0e91140-94fb-3e8f-0000-000000000000</id>
            <parentGroupId>4935c20b-35ff-3084-0000-000000000000</parentGroupId>
            <position>
                <x>824.0</x>
                <y>0.0</y>
            </position>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.17.0</version>
            </bundle>
            <config>
                <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>File Size</key>
                        <value>
                            <name>File Size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Batch Size</key>
                        <value>
                            <name>Batch Size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Data Format</key>
                        <value>
                            <name>Data Format</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Unique FlowFiles</key>
                        <value>
                            <name>Unique FlowFiles</name>
                        </value>
                    </entry>
                    <entry>
                        <key>generate-ff-custom-text</key>
                        <value>
                            <name>generate-ff-custom-text</name>
                        </value>
                    </entry>
                    <entry>
                        <key>character-set</key>
                        <value>
                            <name>character-set</name>
                        </value>
                    </entry>
                    <entry>
                        <key>mime-type</key>
                        <value>
                            <name>mime-type</name>
                        </value>
                    </entry>
                    <entry>
                        <key>schema.name</key>
                        <value>
                            <name>schema.name</name>
                        </value>
                    </entry>
                    <entry>
                        <key>user</key>
                        <value>
                            <name>user</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>File Size</key>
                        <value>0B</value>
                    </entry>
                    <entry>
                        <key>Batch Size</key>
                        <value>1</value>
                    </entry>
                    <entry>
                        <key>Data Format</key>
                        <value>Text</value>
                    </entry>
                    <entry>
                        <key>Unique FlowFiles</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>generate-ff-custom-text</key>
                        <value>[ {
"id" : 1,
"nome" : "Marcio 2",
"idade" : 20,
"estado" : "PARANA",
"ts_milli" : 1525526792098,
"ts" : "2018-05-03 10:10:10.123"
}, {
"id" : 2,
"nome" : "Gisele",
"idade" : 30,
"estado" : "SANTA CATARINA",
"ts_milli" : 1505596792832,
"ts" : "2017-04-02 12:19:49.484"
} ]</value>
                    </entry>
                    <entry>
                        <key>character-set</key>
                        <value>UTF-8</value>
                    </entry>
                    <entry>
                        <key>mime-type</key>
                    </entry>
                    <entry>
                        <key>schema.name</key>
                        <value>sch</value>
                    </entry>
                    <entry>
                        <key>user</key>
                        <value>NIFI</value>
                    </entry>
                </properties>
                <retryCount>10</retryCount>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>10 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>GenerateFlowFile</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
                <retry>false</retry>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.standard.GenerateFlowFile</type>
        </processors>
        <processors>
            <id>f6c77335-815b-3f86-0000-000000000000</id>
            <parentGroupId>4935c20b-35ff-3084-0000-000000000000</parentGroupId>
            <position>
                <x>160.0</x>
                <y>696.0</y>
            </position>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.17.0</version>
            </bundle>
            <config>
                <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>record-reader</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.serialization.RecordReaderFactory</identifiesControllerService>
                            <name>record-reader</name>
                        </value>
                    </entry>
                    <entry>
                        <key>record-writer</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.serialization.RecordSetWriterFactory</identifiesControllerService>
                            <name>record-writer</name>
                        </value>
                    </entry>
                    <entry>
                        <key>replacement-value-strategy</key>
                        <value>
                            <name>replacement-value-strategy</name>
                        </value>
                    </entry>
                    <entry>
                        <key>/updated_by</key>
                        <value>
                            <name>/updated_by</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>record-reader</key>
                        <value>84092863-d67f-3ca8-0000-000000000000</value>
                    </entry>
                    <entry>
                        <key>record-writer</key>
                        <value>768ab5d9-429d-3cdb-0000-000000000000</value>
                    </entry>
                    <entry>
                        <key>replacement-value-strategy</key>
                        <value>literal-value</value>
                    </entry>
                    <entry>
                        <key>/updated_by</key>
                        <value>${user}</value>
                    </entry>
                </properties>
                <retryCount>10</retryCount>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>UpdateRecord</name>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>failure</name>
                <retry>false</retry>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
                <retry>false</retry>
            </relationships>
            <state>RUNNING</state>
            <style/>
            <type>org.apache.nifi.processors.standard.UpdateRecord</type>
        </processors>
        <processors>
            <id>fbf19168-2597-3e75-0000-000000000000</id>
            <parentGroupId>4935c20b-35ff-3084-0000-000000000000</parentGroupId>
            <position>
                <x>160.0</x>
                <y>448.0</y>
            </position>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.17.0</version>
            </bundle>
            <config>
                <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>record-reader</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.serialization.RecordReaderFactory</identifiesControllerService>
                            <name>record-reader</name>
                        </value>
                    </entry>
                    <entry>
                        <key>record-writer</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.serialization.RecordSetWriterFactory</identifiesControllerService>
                            <name>record-writer</name>
                        </value>
                    </entry>
                    <entry>
                        <key>replacement-value-strategy</key>
                        <value>
                            <name>replacement-value-strategy</name>
                        </value>
                    </entry>
                    <entry>
                        <key>/date</key>
                        <value>
                            <name>/date</name>
                        </value>
                    </entry>
                    <entry>
                        <key>/rename_estado</key>
                        <value>
                            <name>/rename_estado</name>
                        </value>
                    </entry>
                    <entry>
                        <key>/rename_id</key>
                        <value>
                            <name>/rename_id</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>record-reader</key>
                        <value>7a57eef4-f9fa-32ea-0000-000000000000</value>
                    </entry>
                    <entry>
                        <key>record-writer</key>
                        <value>768ab5d9-429d-3cdb-0000-000000000000</value>
                    </entry>
                    <entry>
                        <key>replacement-value-strategy</key>
                        <value>record-path-value</value>
                    </entry>
                    <entry>
                        <key>/date</key>
                        <value>format(toDate(/ts_milli, "yyyy-MM-dd"), "dd/MM/yyyy")</value>
                    </entry>
                    <entry>
                        <key>/rename_estado</key>
                        <value>/estado</value>
                    </entry>
                    <entry>
                        <key>/rename_id</key>
                        <value>/id</value>
                    </entry>
                </properties>
                <retryCount>10</retryCount>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>UpdateRecord</name>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>failure</name>
                <retry>false</retry>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
                <retry>false</retry>
            </relationships>
            <state>RUNNING</state>
            <style/>
            <type>org.apache.nifi.processors.standard.UpdateRecord</type>
        </processors>
    </snippet>
    <timestamp>11/30/2023 16:30:04 UTC</timestamp>
</template>
